<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes/catalog">Recipes</a></li>
                <li><a href="/recipes/search">Search</a></li>
                {{#if user}}
                <li><a href="/recipes/create">Add Recipe</a></li>
                <li><a href="/users/logout">Logout</a></li>
                {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>

        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!-- <div class="error-container">
            <p>Error</p>
        </div> -->
        {{#if error}}
        <div class="error-container">
            <p>{{error}}</p>
        </div>
        {{/if}}
        {{{body}}}
    </main>
    <footer>
        <p>&copy; 2024 Home Cooking Recipes. All rights reserved.</p>
    </footer>
</body>

</html>