{{setTitle 'Register - GlowAlchemy'}}
<section class="form-container">
  <h2>Register</h2>
  <form method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{userInput.name}}" />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{userInput.email}}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />

    <label for="password">Repeat Password:</label>
    <input type="password" id="re-password" name="rePass" />

    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="/users/login">Login here</a>.</p>
</section>