<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Home Cooking Recipes</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Add Recipe</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="form-container">
            <h2>Register</h2>
            <form action="#">
                <label for="name">Name:</label>
                <input type="text" id="name" name="">
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="">
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="">

                <label for="password">Repeat Password:</label>
                <input type="password" id="re-password" name="">
                
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="#">Login here</a>.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Home Cooking Recipes. All rights reserved.</p>
    </footer>
</body>
</html>
