<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/disasters/search">Search</a></li>
                <li><a href="/disasters/catalog">Power of Nature</a></li>
                {{#if user}}
                <li><a href="/disasters/create">Create Event</a></li>
                <li><a href="/users/logout">Logout</a></li>
                {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{#if error}}{{> errorContainer}}{{/if}}
        {{{body}}}
    </main>

    <footer>
        <p>&copy JS Back-End 2025</p>
    </footer>

</body>

</html>