{{setTitle 'Product Catalog - GlowAlchemy'}}

<h2>Product Catalog</h2>
<section class="products">
    {{#each products}}
    <!-- Add more products here -->
    {{> product}}
    {{else}}
    <!-- <p class="no-post">There are no products found yet!</p> -->
    <p class="no-post">There are no products found yet!</p>
    {{/each}}
</section>