{{setTitle 'Search Products - GlowAlchemy'}}
<section class="search-container">
    <h2>Search Products</h2>
    <form method="GET">
        <input type="text" id="search" name="includes" placeholder="Search for products..." value="{{includes}}">
        <button type="submit">Search</button>
    </form>
    <div class="search-results">
        {{#each products}}
        <!-- Add more search results here -->
        {{> product}}
        {{else}}
        <!-- <p class="no-match">There are no products found yet!</p> -->
        <p class="no-match">There are no products found yet!</p>
        {{/each}}


    </div>
</section>