{{setTitle 'Search Products - GlowAlchemy'}}
<section class="search-container">
    <h2>Search Products</h2>
    <form action="#">
        <input type="text" id="search" name="search" placeholder="Search for products...">
        <button type="submit">Search</button>
    </form>
    <div class="search-results">
        <article class="product">
            <img
                src="https://goldleaf.nz/wp-content/uploads/2023/05/102_146_1683614016510_24CTGOLDRADIANTLIGHT_600.jpg">
            <h3>Radiant Glow Hydration Serum</h3>
            <p>Suitable for: All skin types, including sensitive, oily, and combination.</p>
            <a href="#">Read More</a>
        </article>
        <article class="product">
            <img src="https://www.mellicosmetics.com/cdn/shop/products/satskinf_1050x1050.png?v=1645852117">
            <h3>Silk Matte Finish Foundation</h3>
            <p>Suitable for: Oily, combination, and normal skin.</p>
            <a href="#">Read More</a>
        </article>
        <article class="product">
            <img src="https://i.ebayimg.com/images/g/5f0AAOSwA45iXAey/s-l1600.jpg">
            <h3>RevitalEyes Overnight Eye Cream</h3>
            <p>Suitable for: All skin types, especially beneficial for mature or dry skin around the eyes.</p>
            <a href="#">Read More</a>
        </article>
        <article class="product">
            <img src="https://tse2.mm.bing.net/th?id=OIP.7yrDvIfb_ClJC0knVVnD1AHaHa&pid=Api">
            <h3>Calm & Soothe Toner Mist</h3>
            <p>Suitable for: Sensitive, dry, and combination skin types</p>
            <a href="#">Read More</a>
        </article>
        <article class="product">
            <img
                src="https://beautypalast.ch/images/products/21140_1_Makeup_Revolution_Fluessig-Concealer_-_Eye_Bright_Illuminating_Under_Eye_Concealer.jpg">
            <h3>BrightEyes Illuminating Concealer</h3>
            <p>Suitable for: All skin types, especially dry or mature skin</p>
            <a href="#">Read More</a>
        </article>
        <article class="product">
            <img src="https://images.soco.id/64904649618-1588918402503.png">
            <h3>Velvet Matte Lip Mousse</h3>
            <p>Suitable for: All skin types</p>
            <a href="#">Read More</a>
        </article>
        <!-- Add more search results here -->

        <!-- <p class="no-match">There are no products found yet!</p> -->
    </div>
</section>