<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <!-- Do not forget to change the path to the css file -->
    <link
        href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAeH+fANjY2AD///8AcnJyAFzS5AAsPn8AKEbMAJaWlgB7jLYAP4zjAKioqAA1NTUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzMzMAAAAAAyyuEjAAAAAyyK4hIwAAADCIruEjAAADEIyu4RIwAAMsjK7h0vAAAwiMruES8AADCIiu4dLwAAMK2ZmekjAAAy2eldVeMAADHpaVaWnwAAMF1WqWnnAAADMoZl3zAAAAADMzMwAAAAAAAAAAAAAD//wAA+B8AAPAPAADgBwAA4AcAAMADAADAAwAAwAMAAMADAADAAwAAwAMAAMADAADAAwAA4AcAAPgfAAD//wAA"
        rel="icon" type="image/x-icon">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <img src="/img/logo.webp" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/movies/search">Search</a></li>
                {{#if user}} <!--Users-->
                <li><a href="/movies/create">Create Movie</a></li>
                <li><a href="/cast/create">Create Cast</a></li>
                <li><a href="/users/logout">Logout</a></li>
                <em style="color: aqua;">Welcome, {{user.email}}</em>
                {{else}} <!--Guest-->
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if }}

            </ul>

        </nav>
        <main>
            {{{body}}}
        </main>
        <footer>
            © JS Back-End Workshop
        </footer>
    </div>
</body>

</html>